a, a:visited { color: #ccc; }
a:hover { color: white; }
body { background-color: black; color: #999;}
#custom-fields {}

/* MENU */
.menu_principal {}
.menu_principal ul li a {}
.menu_principal ul li a:hover { color: white; }
.current-menu-item a, .current_page_item a, .current-menu-parent a { color: white !important; font-weight: bold; }

span.descripcion-sitio {}
h1, h2, h3, h4 {}

/* ENTRADAS */
.entry li a { color: white; }
.entry li {}
.entry li li { color: #666; }
blockquote { color: #555; }

/* FORM BUSCADOR */
#buscador input#s { background-color: transparent; color: white; }
#buscador input#searchsubmit { color: #ccc; background-color: transparent; }
#buscador input#searchsubmit:hover { cursor: pointer; color: white; }

/* FORM CONTACTO */
.wpcf7 textarea, .wpcf7 input { background-color: #555; border: none; }
.wpcf7 input.wpcf7-submit { background-color: #555; }
.wpcf7 input.wpcf7-submit:hover { cursor: pointer; color: white; }

/* FORM NEWSLETTER */
form#alo_easymail_widget_form input { background-color: #333; color: white;}
form#alo_easymail_widget_form input.input-submit { background-color: #444; color: #ccc; }
form#alo_easymail_widget_form input.input-submit:hover { cursor: pointer; color: white; }


/* CATEGORIA CIRCUITOS */
.category-circuitos .post a { background-color: #0F5FD0; color: #001798; }
.category-circuitos .post a:hover { color: white; }
.category-circuitos .post h4, body.single-circuitos .post h4 { color: white; }

/* FOOTER */
#footer, #footer a { color: #555; }
#footer a:hover { color: white; }