.tubepress-thumbs {
  background-color: red;
}
.tubepress-thumb {
  margin: 0;
}
.tubepress-meta-group {
  display: none;
}
.tubepress-pagination-item {
  background-color: green;
  a {
    color: red !important;
  }
}
