@charset "UTF-8";
/*
Description: jesusolmo website
Author: Sergio Forés
Author URI: http://sergiofores.net
Version: 0.1
Tags: sf
.
sf is © Sergio Forés http://sergiofores.net/
.
*/
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* MENU PRINCIPAL */
.menu_principal { position: absolute; top: 170px; left: 424px; }

.menu_principal ul { margin: 5px 0 5px 0; display: block; }

.menu_principal ul li { list-style: none; float: left; }

.menu_principal ul li a { margin: 0 10px; float: left; }

/* SUPERFISH DROPDOWN JQUERY MENU */
.menu_principal ul.menu { padding: 0; margin: 0; /* reset list style */ }

/*** ESSENTIAL STYLES ***/
.menu, .menu * { margin: 0; padding: 0; list-style: none; }

.menu { line-height: 1.0; }

.menu ul { position: absolute; top: -999em; width: 10em; /* left offset of submenus need to match (see below) */ }

.menu ul li { width: 100%; }

.menu li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

.menu li { float: left; position: relative; }

.menu a { display: block; position: relative; }

.menu li:hover ul, .menu li.sfHover ul { left: 0; top: 1.55em; /* match menu line height */ z-index: 99; }

ul.menu li:hover li ul, ul.menu li.sfHover li ul { top: -999em; }

ul.menu li li:hover ul, ul.menu li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }

ul.menu li li:hover li ul, ul.menu li li.sfHover li ul { top: -999em; }

ul.menu li li li:hover ul, ul.menu li li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }

a, a:visited { text-decoration: none; }

embed, img { outline: none; }

.entry a[target^="_blank"] { background: url("../images/external_link.png") no-repeat right center transparent; padding-right: 13px; }

p { margin-bottom: 6px; line-height: 17px; }

h1 { margin: 0 0 10px 0; }

.alignleft { float: left; margin-right: 20px; }

#respond { display: none; }

.clearfix { clear: both; }

.logo { text-align: center; }

.frase { text-align: center; padding-top: 10px; }

.frase p { color: white; }

/* NAVEGACION */
.navegacion { padding: 53px 0 0; width: 600px; float: left; }

h2 { margin-bottom: 10px; }

.nav-thumbnail { padding: 15px; }

.nav-thumbnail a a { float: left; }

.nav-thumbnail { margin-top: 34px; }

.btn-izquierda strong, .btn-izquierda img { float: left; }

/* LAYOUT */
#header { height: 130px; margin-top: 40px; position: relative; clear: both; }

#header .logo h1 { margin-left: 430px; }

#header .logo h1 a { display: block; padding: 10px; width: 54px; height: 30px; background-size: 70%; }

#header .logo h1 a span { display: none; }

#sidebar { float: right; width: 230px; padding: 20px; }

#sidebar ul { margin-bottom: 20px; }

#sidebar ul li { padding: 4px 0; }

/* FOOTER */
#footer { clear: both; width: 915px; margin: 0 auto; padding-top: 67px; text-align: center; font-size: 77%; }

.menu-footer li a { margin-right: 10px; }

/* BANNERS */
/* ENTRADAS */
.entry ul { float: left; margin-top: 10px; }

.entry li { width: 651px; float: left; border-radius: 5px; padding: 6px 10px; margin: 3px 0; }

.entry ul ul { float: right; margin: 1px 3px 0 0; }

.entry li li { width: 628px; border: none; padding: 0 0 0 17px; }

.entry li li li img { margin: 0; }

.entry li li li a { border-bottom: none !important; }

.entry li a { border-bottom: 1px solid white !important; }

.entry li a:hover { border-bottom: none !important; }

/* FACEBOOK */
.entry .st_facebook_buttons { float: left; margin-top: 15px; }

#content { width: 675px; float: left; }

#content .entry-content { float: left; margin-right: 10px; }

#content div :last-child { margin-right: 0 !important; }

#content h3 a { clear: both; display: block; margin-top: 15px; float: left; padding: 5px 5px 5px 0; }

/* GALERIA FOTOS */
#gallery-1 { float: left; }

#gallery-1 .gallery-item { margin-right: 1px; margin-top: 1px !important; width: 173px !important; }

#gallery-1 img { border: none !important; }

/* FORM BUSCADOR */
#buscador { position: relative; }

#buscador #searchform { position: absolute; top: 20px; right: 0; }

#buscador label { display: none; }

#buscador input { padding: 0; }

#buscador input#s { border-bottom: 1px dashed #444; border-top: none; border-left: none; border-right: none; }

#buscador input#searchsubmit { border: none; }

/* FORM CONTACTO */
.wpcf7 input, .wpcf7 textarea { padding: 4px 5px; border: none; margin-top: 3px; }

.wpcf7 textarea { height: 67px; }

.wpcf7 input, .wpcf7 textarea { width: 318px; }

.wpcf7 p { margin: 10px 10px 10px 0; }

.wpcf7-response-output { clear: both; }

.wpcf7 input.wpcf7-submit { width: 78px; }

/* FORM NEWSLETTER */
form#alo_easymail_widget_form input { margin: 0 0 10px 10px; border: none; padding: 4px 5px; }

/* SLIDERS */
.slider { margin-bottom: 25px; }

.nivo-directionNav a { text-indent: -9999px; width: 30px; height: 30px; }

a.nivo-nextNav { background-position: -30px 0 !important; right: 15px; }

a.nivo-prevNav { left: 15px; }

/* POSTS OFERTAS */
body.archive .post { float: left; margin: 0 10px 10px 0; }

#content .post { clear: left; margin-bottom: 10px; }

#content .post h2 { margin-bottom: 6px; }

#content h2 { margin-bottom: 15px; }

/* CATEGORIA */
.content h2 { float: left; width: 675px; }

.cat_identidad .post { float: left; margin: 10px 10px 0 0; }

.cat_identidad .entry-title { padding-bottom: 5px; }

/* CATEGORIA CIRCUITOS */
body.category-circuitos .post a { padding: 20px; display: block; width: 141px; }

body.single-circuitos .post { float: left; width: 600px; padding: 20px; }

/* CUSTOM FIELDS */
#custom-fields { padding: 3px 8px; float: left; }

/* FACEBOOK */
div.fbDarkWidget { border: none; }

/* SERACH */
body.search a, body.search-results a { border: none !important; }

body.search .st_facebook_buttons, body.search-results .st_facebook_buttons, .category-circuitos .st_facebook_buttons { display: none; }

.search a.alignright { float: right; width: 311px; }

.search a.alignleft { float: left; }

/*FORMULARIO*/
div.wpcf7-mail-sent-ok { border: 1px dashed white !important; }

div.wpcf7-response-output { margin: 4em 0 0.5em 0 !important; }

/*VIDEOPRESS*/
.tubepress_thumb { width: 305px !important; line-height: 1.25em !important; height: 172px !important; }

.tubepress_thumb img { border: none; padding: 0 !important; }

.tubepress_thumb a { margin: 0 !important; }

.tubepress_thumbs { padding: 0 !important; }

.tubepress_meta_group { margin: 0 !important; text-align: center; font-size: 0.8em; line-height: 12px; color: #555; padding: 5px 0 0 8px !important; }

.tubepress_container div.pagination { padding: 18px 0 0 0 !important; }

.tubepress_thumbnail_area { margin-top: 0 !important; }

.tubepress_container div.pagination span.current { color: white !important; }

.tubepress_meta { float: none !important; }

.jqmWindow { background-color: transparent !important; border: none !important; padding: 0 !important; position: absolute !important; top: auto !important; margin-left: inherit !important; left: auto !important; }

.tubepress_container div.pagination a { border: black !important; color: #ccc !important; }

dd.tubepress_meta_title, dd.tubepress_meta_title a, dd.tubepress_meta_title a:hover { font-weight: normal !important; float: none !important; text-align: center !important; }

.tubepress_container div.pagination span.disabled, .tubepress_container div.pagination a { color: #555; }

.tubepress_container div.pagination a:hover { background-color: #999 !important; color: black !important; }

body { font: 0.63em/15px Arial, sans-serif !important; text-align: justify; }

.descripcion-sitio { font-size: 1.4em; }

blockquote { font-style: italic; }

#sidebar h2 { font-size: 1em !important; }

h1, h2, h3, h4, h5, h6, .menu_principal, .descripcion-sitio, .entry li { font-weight: lighter; font-family: "myriad-pro-1","myriad-pro-2",sans-serif; letter-spacing: 1px; }

/* CONTENT */
.content h2 { line-height: 28px; }

/* CUSTOM FIELDS */
/* FORM CONTACTO */
.wpcf7 textarea, .wpcf7 input { font-family: inherit; font-size: 1em; }

a, a:visited { color: #ccc; }

a:hover { color: white; }

body { background-color: black; color: #999; }

/* MENU */
.menu_principal ul li a:hover { color: white; }

.current-menu-item a, .current_page_item a, .current-menu-parent a { color: white !important; font-weight: bold; }

/* ENTRADAS */
.entry li a { color: white; }

.entry li li { color: #666; }

blockquote { color: #555; }

/* FORM BUSCADOR */
#buscador input#s { background-color: transparent; color: white; }

#buscador input#searchsubmit { color: #ccc; background-color: transparent; }

#buscador input#searchsubmit:hover { cursor: pointer; color: white; }

/* FORM CONTACTO */
.wpcf7 textarea, .wpcf7 input { background-color: #555; border: none; }

.wpcf7 input.wpcf7-submit { background-color: #555; }

.wpcf7 input.wpcf7-submit:hover { cursor: pointer; color: white; }

/* FORM NEWSLETTER */
form#alo_easymail_widget_form input { background-color: #333; color: white; }

form#alo_easymail_widget_form input.input-submit { background-color: #444; color: #ccc; }

form#alo_easymail_widget_form input.input-submit:hover { cursor: pointer; color: white; }

/* CATEGORIA CIRCUITOS */
.category-circuitos .post a { background-color: #0F5FD0; color: #001798; }

.category-circuitos .post a:hover { color: white; }

.category-circuitos .post h4, body.single-circuitos .post h4 { color: white; }

/* FOOTER */
#footer, #footer a { color: #555; }

#footer a:hover { color: white; }

.logo h1 a { background: url(../images/logo.gif) no-repeat 0 0; }

/* SLIDERS */
#page { margin: 120px auto 0 !important; width: 915px; }

.tubepress-thumbs { background-color: red; }

.tubepress-thumb { margin: 0; }

.tubepress-meta-group { display: none; }

.tubepress-pagination-item { background-color: green; }
.tubepress-pagination-item a { color: red !important; }

/*# sourceMappingURL=style.css.map */